<div class="starter-template">
  <h1>月刊麻雀 마작마작</h1>
  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>
<div>
  <table class="table table-stripped">
    <thead>
    <tr>
      <th>#</th>
      <th>이름</th>
      <th>승점</th>
      <th>승점률</th>
      <th>승률</th>
      <th>12%</th>
      <th>+%</th>
      <th>-2%</th>
      <th>+3%</th>
      <th>4%</th>
      <th>승</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>순율</th>
      <th>국수</th>
    </tr>
    </thead>
    <tbody>
    <tr>

    </tr>
    </tbody>
  </table>
</div>
<div>
  <table class="table table-stripped">
    <thead>
    <tr>
      <th>#</th>
      <th>이름</th>
      <th>승점</th>
      <th>승점률</th>
      <th>승률</th>
      <th>12%</th>
      <th>+%</th>
      <th>-2%</th>
      <th>+3%</th>
      <th>4%</th>
      <th>승</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>순율</th>
      <th>국수</th>
    </tr>
    </thead>
    <tbody>
    <tr>

    </tr>
    </tbody>
  </table>
</div>